{% import "post_macros.html" as post_macros %}
{% import "index_macros.html" as index_macros %}

<!DOCTYPE html>
<html lang="pt">

<head>
    {% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        {% block title %}{{ config.title }}{% endblock title %}
    </title>
    <meta name="title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ config.title }}" />
    <meta itemprop="name" content="{% if page.title %}{{ page.title }} | {% endif %}{{ config.title }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ config.title }}" />
    <meta name="description" content="{% if page.title %}{{ page.title }}.{% endif %} Aqui implementamos um sistema de votação local (não há troca de dados da votação pela internet, tudo ocorrerá no seu dispositivo como se fosse offline. Seguimos as orientações do site do TSE para sua implementação." />
    <meta name="keywords" content="urna eletrônica, STE, urna segura, urna confiável, urna auditável, voto impresso, voto auditável" />
    <link rel="icon" href="/globo-cloud-120.png" type="image/x-icon">

    {{ index_macros::css() }}
    <!-- This script must follow css -->
    {% if config.extra.zulma_allow_theme_selection %}
    <script type="text/javascript" src="{{ get_url(path="js/zulma_switchcss.js") }}"></script>
    <script>
        switch_css.init("{{config.base_url | safe}}");
    </script>
    {% endif %}

    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
    {% endif %}

    {% if config.build_search_index %}
    <script defer type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
    <script defer type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}

    <noscript>
        <style>
            .navbar-menu {
                display: block;
            }

            .js-only {
                display: none;
            }
        </style>
    </noscript>
    {% endblock head %}
</head>

<body>
    {% block body%}
    {% block content %}
    <!-- START NAV -->
    {% block header %}
    {{ index_macros::navbar() }}
    {% endblock header %}
    <!-- END NAV -->
    <main class="index">
        <!-- START HERO TITLE -->
        {% if section.title %}
            {{ index_macros::hero(title=section.title, primary=true) }}
        {% else %}
            {% if config.extra.zulma_title %}
            {{ index_macros::hero(title=config.extra.zulma_title, primary=true) }}
            {% endif %}
        {% endif %}
        <!-- END HERO TITLE -->
        <div class="container">
            <!-- START ARTICLE FEED -->
            {% if paginator %}
            {{ index_macros::list_articles(pages=paginator.pages) }}
            {% else %}
            {{ index_macros::list_articles(pages=section.pages) }}
            {% endif %}
            <!-- END ARTICLE FEED -->
            <!-- START PAGINATION -->
            {% if paginator %}
            {{ index_macros::paginate(paginator=paginator) }}
            {% endif %}
            <!-- END PAGINATION -->
        </div>
    </main>
    {% endblock content %}
    {% block footer %}
    {{ index_macros::footer() }}
    {% endblock footer %}

    <script type="text/javascript" src="{{ get_url(path="js/zulma_navbar.js") }}"></script>

    {% if config.build_search_index %}
    <script type="text/javascript" src="{{ get_url(path="js/zulma_search.js") }}"></script>
    {% endif %}

    {% endblock body%}
</body>

</html>