{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block title %}{{ page.title }}| {{ config.title }}{% endblock title %}
{% block content %}
<!-- START NAV -->
{% block header %}
{{ super() }}
{% endblock header %}
<!-- END NAV -->
<main>
    <section class="container">
        <div class="columns is-desktop">
            <div class="column is-10-desktop is-offset-1-desktop">
                <article itemscope itemtype="http://schema.org/BlogPosting">
                    <div class="card article">
                        <div class="card-content">
                            {{ post_macros::article_header(page = page) }}
                            <div itemprop="articleBody" class="content article-body">
                                {{ page.content | safe }}
                            </div>
                        </div>
                        {% block page_footer %}
                        {{ post_macros::post_footer(page=page) }}
                        {% endblock page_footer %}
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>
{% endblock content %}