.table-container table.is-scrollable tbody {
    overflow-y: auto;
}

.modal-content {
    overflow-y: auto;
    max-height: 90%;
    max-width: 90%;
    margin: 2%;
}

.table-container {
    overflow-y: auto;
    max-height: 350px;
}

div.field.column input {
    background-color: lightgray;
    width: 5em;
}