{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}
<!-- START NAV -->
{% block header %}
{{ super() }}
<script defer type="text/javascript" src="/urna.js") }}"></script>
<link rel="stylesheet" href="/urna.css">
{% endblock header %}
<!-- END NAV -->
<main>
    <section class="container">
        <div class="columns is-desktop">
            <div class="column is-10-desktop is-offset-1-desktop">
                <article itemscope itemtype="http://schema.org/BlogPosting">
                    <div class="card article">
                        <div class="card-content">
                            {{ post_macros::article_header(page = page) }}
                            <div itemprop="articleBody" class="content article-body">
                                {{ page.content | safe }}
                                <ol>
                                    <li>Primeiro preencha os <a href="#candidatos">candidados</a></li>
                                    <li>Depois preencha os <a href="#eleitores">eleitores</a></li>
                                    <li>Verifique a <a href="#chave">chave criptografada</a> da urna</li>
                                    <li>Faça a <a href="#zerar">zerésima</a> (para habilitar a votação)</li>
                                    <li>Faça a <a href="#votar">votação</a> de eleitores</li>
                                    <li>Gere o <a href="#gerar">RDV (registro digital de voto)</a></li>
                                    <li>Encerra a votação <a href="#encerrar">emitindo o B.U.</a> (impede nova votação¹)</li>
                                </ol>
                                <p>¹ Para reiniciar basta fazer nova <a href="#zerar">zerésima</a>!</p>
                                <div class="box" onchange="waitZeresima();">
                                    <a target="_blank" href="https://www.tse.jus.br/eleicoes/processo-eleitoral-brasileiro/candidaturas/identificacao-numerica-dos-candidatos-que-concorrem-as-eleicoes">
                                        <span class="subtitle" id="candidatos">Candidatos da sua eleição:</span>
                                    </a>
                                    <div class="block">
                                        <p>
                                            <label>Presidente (número do partido - 2 dígitos)</label>
                                            <textarea class="textarea" rows="4" id="pre">
13 - PT
17 - PSL
22 - PL
45 - PSDB</textarea>
                                        </p>
                                    </div>
                                    <div class="block">
                                        <p>
                                            <label>Governador (número do partido - 2 dígitos)</label>
                                            <textarea class="textarea" rows="4" id="gov">
13 - PT
17 - PSL
22 - PL
45 - PSDB</textarea>
                                        </p>
                                    </div>
                                    <div class="block">
                                        <p>
                                            <label>Senador (número do partido + 1 - 3 dígitos)</label>
                                            <textarea class="textarea" rows="4" id="sen">
131 - PT1
171 - PSL1
221 - PL1
451 - PSDB1</textarea>
                                        </p>
                                    </div>
                                    <div class="block">
                                        <p>
                                            <label>Deputado federal (número do partido + 2 - 4 dígitos)</label>
                                            <textarea class="textarea" rows="4" id="dep">
13123 - PT123
17123 - PSL123
22123 - PL123
45123 - PSDB123</textarea>
                                        </p>
                                    </div>
                                </div>
                                <div class="box">
                                    <span class="subtitle" id="eleitores">Eleitores (número do título - 6 dígitos):</span>
                                    <div class="block">
                                        <p>
                                            <textarea class="textarea" rows="4" id="ele">
123456 - Fulano de Tal
654321 - Ciclano Silva
987654 - Outro Eleitor
045823 - Mais Um
456789 - Último Eleitor</textarea>
                                        </p>
                                    </div>
                                </div>
                                <div class="box">
                                    <span class="subtitle" id="eleitores">
                                        Fraudes <a href="/doe/contribua/">via PIX</a>
                                        <span style="font-size: 1.25em;">&#129297;</span>!
                                    </span>
                                    <p>
                                        Note aqui você pode simular diversas fraudes em nossa urna, 
                                        tirando, por exemplo, votos em <b>BRANCO</b> e dando para um 
                                        candidato de sua escolha <span style="font-size: 1.25em;">&#128514</span>!
                                        Ou pode anular alguns votos do candidado genocida, para o bem da 
                                        democracia <span style="font-size: 1.25em;">&#128519;</span>.
                                    </p>
                                    <div class="field is-fullwidth has-text-centered">
                                        <label class="checkbox" title="Marque esta opção para ativar fraude!">
                                            <input type="checkbox" id="fraudar">
                                            Fraudar votação, pois fiz o PIX!
                                        </label>
                                    </div>
                                    <div class="columns">
                                        <div class="field column has-text-centered">
                                            <label title="Número de um candidado ou código de brancos ou nulos.">
                                                Retirar de:
                                                <input type="text" maxlength="6" 
                                                value="22" id="prejudicar">
                                            </label>
                                        </div>
                                        <div class="field column has-text-centered">
                                            <label title="Número de um candidado ou código de brancos ou nulos.">
                                                Colocar para:
                                                <input type="text" maxlength="6" 
                                                value="13" id="favorecer">
                                            </label>
                                        </div>
                                        <div class="field column has-text-centered">
                                            <label title="Taxa da probabilidade de substituição (probabilidade)">
                                                Com taxa (%):
                                                <input type="number" 
                                                value="50" min="25" max="99" id="taxa">
                                            </label>
                                        </div>
                                    </div>
                                    <p>                                        
                                        Por exemplo, para fazer o que ocorre neste
                                        <a target="video" href="https://fb.watch/eIU31L0NP9/">vídeo animando</a>,
                                        basta selecionar marcar o campo <b>fraudar</b> deixando os demais campos
                                        como estão, ou seja, cada voto terá 50% de chance de ser fraudado.
                                    </p>
                                    <p>
                                        Lembre-se! Não há como comprovar sua fraude e se ela ficar na
                                        margem de erro das pesquisas, então ninguém irá questionar!
                                        Sugestão de leitura:
                                        <a href="/analisando/a-contagem-dos-votos/">a contagem de votos</a>.
                                    </p>
                                </div>
                                <div class="box">
                                    <div class="modal" id="modalChave">
                                        <div class="modal-background" onclick="this.parentNode.classList.remove('is-active');"></div>
                                        <div class="modal-content">
                                            <article class="message is-success">
                                                <div class="message-header">
                                                    <p>Sucesso!!!</p>
                                                    <button class="delete is-large" aria-label="delete"
                                                        onclick="this.parentNode.parentNode.parentNode.parentNode.classList.remove('is-active');">
                                                    </button>
                                                </div>
                                                <div class="message-body">
                                                    <p>
                                                        A chave nem foi verificada, porque pelo que parece é a 
                                                        própria urna que verifica se a chave é válida!
                                                    </p>
                                                    <p>
                                                        Isso significa que, se a urna for crackeada (invadida e 
                                                        modificada) os invasores só precisam inserir um ok aqui 
                                                        se alguém pedir para validar a chave!
                                                    </p>
                                                    <p>
                                                        Saiba mais lendo 
                                                        <a href="/analisando/a-contagem-dos-votos/">este artigo</a> 
                                                        deste site.
                                                    </p>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <span class="subtitle" id="chave">Teste a chave da urna:</span>
                                    <div class="block">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text">
                                            </div>
                                        </div>
                                        <button class="button is-large is-fullwidth is-rounded"
                                            onclick="this.parentNode.parentNode.firstElementChild.classList.add('is-active');">
                                            Validar a chave
                                        </button>
                                    </div>
                                </div>
                                <div class="box" id="zerar">
                                    <div class="modal" id="modalZeresima">
                                        <div class="modal-background" onclick="this.parentNode.classList.remove('is-active');"></div>
                                        <div class="modal-content">
                                            <article class="message is-info">
                                                <div class="message-header">
                                                    <p>Zerésima</p>
                                                    <button class="delete is-large" aria-label="delete" 
                                                        onclick="this.parentNode.parentNode.parentNode.parentNode.classList.remove('is-active');">
                                                    </button>
                                                </div>
                                                <div class="message-body">
                                                    {{ post_macros::show_votos() }}
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <button class="button is-large is-fullwidth is-rounded"
                                            title="Sempre que a zerésima for emitida os votos serão apagados!"
                                            onclick="zeresima();this.parentNode.parentNode.firstElementChild.classList.add('is-active');">
                                            Emitir a Zerésima
                                        </button>
                                    </div>
                                </div>
                                <div class="box" id="votar">
                                    <div class="modal">
                                        <div class="modal-background" onclick="this.parentNode.classList.remove('is-active');"></div>
                                        <div class="modal-content">
                                            <article class="message">
                                                <div class="message-header">
                                                    <p>Vote na WEB URNA</p>
                                                    <button class="delete is-large" aria-label="delete"
                                                        onclick="this.parentNode.parentNode.parentNode.parentNode.classList.remove('is-active');">
                                                    </button>
                                                </div>
                                                <div class="message-body" id="votacao" onchange="checkVotacao(this)">
                                                    {{ post_macros::add_select(name="eleitor") }}
                                                    <div class="is-fullwidth" style="border: 1px solid gray;"></div>
                                                    {{ post_macros::add_select(name="presidente") }}
                                                    {{ post_macros::add_select(name="governador") }}
                                                    {{ post_macros::add_select(name="senador") }}
                                                    {{ post_macros::add_select(name="deputado") }}
                                                    <button class="button is-large is-fullwidth is-rounded is-static"
                                                        title="Sempre que um eleitor votar, o mesmo sairá da lista de eleitores por já ter votado!"
                                                        onclick="processVote();checkVotacao(this.parentNode);">
                                                        Confirmar a votação
                                                    </button>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <button class="button is-large is-fullwidth is-rounded is-static"
                                            title="A votação é liberada apenas após uma zerésima sem erros!"
                                            onclick="loadVotacao();this.parentNode.parentNode.firstElementChild.classList.add('is-active');" id="btnVotacao">
                                            Eleitor, vote consciente!
                                        </button>
                                    </div>
                                </div>
                                <div class="box" id="gerar">
                                    <div class="modal">
                                        <div class="modal-background" onclick="this.parentNode.classList.remove('is-active');"></div>
                                        <div class="modal-content">
                                            <article class="message is-info">
                                                <div class="message-header">
                                                    <p>Registro Digital de Voto - RDV</p>
                                                    <button class="delete is-large" aria-label="delete"
                                                        onclick="this.parentNode.parentNode.parentNode.parentNode.classList.remove('is-active');">
                                                    </button>
                                                </div>
                                                <div class="message-body">
                                                    {{ post_macros::show_rdv() }}
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <button class="button is-large is-fullwidth is-rounded is-static"
                                            onclick="showRDV();this.parentNode.parentNode.firstElementChild.classList.add('is-active');" id="btnRDV">
                                            Emitir o RDV
                                        </button>
                                    </div>
                                </div>
                                <div class="box" id="encerrar">
                                    <div class="modal">
                                        <div class="modal-background" onclick="this.parentNode.classList.remove('is-active');"></div>
                                        <div class="modal-content">
                                            <article class="message is-info">
                                                <div class="message-header">
                                                    <p>Boletim de Urna - B.U.</p>
                                                    <button class="delete is-large" aria-label="delete"
                                                        onclick="this.parentNode.parentNode.parentNode.parentNode.classList.remove('is-active');">
                                                    </button>
                                                </div>
                                                <div class="message-body">
                                                    {{ post_macros::show_bu() }}
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <button class="button is-large is-fullwidth is-rounded is-static"
                                            title="Após o encerramento, os eleitores que não votaram não poderão mais votar!"
                                            onclick="showBU();this.parentNode.parentNode.firstElementChild.classList.add('is-active');" id="btnBU">
                                            Encerrar votação (B.U.)
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% block page_footer %}
                        {{ post_macros::post_footer(page=page) }}
                        {% endblock page_footer %}
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>
{% endblock content %}